@model HospitalManagement.Models.AllotmentModel
@{
    /**/

    ViewBag.Title = "RoomAllotment";
}
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-title">Room Allotment</h4>
        </div>
    </div>

    @using (Ajax.BeginForm("UpdateRoomallotment", "HMSRooms", new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessMethod", LoadingElementId = "progress" }))
    {
        @Html.AntiForgeryToken()

        <div class="row  employee-form m-0">
            <div class="col-lg-12">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Patient Name</label>
                                @Html.TextBoxFor(model => model.patientname, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.patient_code, new { @id = "PatientCode" })
                                @Html.HiddenFor(m => m.admit_id)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Doctor Name </label>
                                @Html.TextBoxFor(model => model.doctorname, new { @class = "form-control", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.hos_doctor_code, new { @id = "DoctorCode" })

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label> AC/NonAc Rooms<span class="text-danger">@Html.ValidationMessageFor(model => model.Roomfacility, "", new { @class = "text-danger" })</span></label>
                                @{
                                    List<SelectListItem> listRoomfacility = new List<SelectListItem>();

                                    listRoomfacility.Add(new SelectListItem
                                    {
                                        Text = "Select Room Type",
                                        Value = "Select Room Type",
                                        Selected = true

                                    });
                                    listRoomfacility.Add(new SelectListItem
                                    {
                                        Text = "AC Room",
                                        Value = "AC Room",
                                    });
                                    listRoomfacility.Add(new SelectListItem
                                    {
                                        Text = "Non AC Room",
                                        Value = "Non AC Room",

                                    });
                                }
                                @Html.DropDownList("Roomfacility", listRoomfacility, new { @class = "form-control", @id = "roomfacility", onchange = "Getchange()" })
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group bndwards">
                                <label>Ward Type</label>
                                @*@Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })*@
                                @Html.DropDownListFor(model => model.ward_id, new SelectList(Model.RoomTypeList, "ward_id", "ward_type"), "Select Ward Type", new { @class = "form-control", onchange = "GetDropdownData('rooms')", @id = "roomtype" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group bndrooms">
                                <label>Room No </label>
                                @*@Html.ValidationMessageFor(model => model.PerDayRent, "", new { @class = "text-danger" })*@
                                @Html.DropDownListFor(model => model.room_no, new SelectList(Model.RoomList, "roomtype_id", "room_no"), "Select Room", new { @class = "form-control", onchange = "GetDropdownData('beds')", @id = "roomno" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group bndbeds">
                                <label>Bed No</label>
                                @*@Html.ValidationMessageFor(model => model.Facility, "", new { @class = "text-danger" })*@
                                @Html.DropDownListFor(model => model.bed_no, new SelectList(Model.BedList, "bed_no", "bed_prefix"), "Select Bed", new { @class = "form-control", @id = "bedno" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="display-block">Status</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="product_active">
                                        @Html.RadioButtonFor(model => model.ctrl, 1, new { @id = "active" })
                                        Active
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="product_inactive">
                                        @Html.RadioButtonFor(model => model.ctrl, 0, new { @id = "Inactive" })
                                        InActive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button type="submit" class="btn skin-gradient-btn submit-btn">Save</button>
                        <a class="btn skin-border-btn submit-btn m-l-15 res-479-m-t-10" href="~/HMSRooms/HMSPatientAllotment">  <i class="fa fa-arrow-left"></i> Back To List</a>
                    </div>
                    <div id="cardbox" class="card-box" hidden>

                    </div>

                </form>
            </div>
        </div>
    }

</div>

@section scripts{
    <script type="text/javascript">
        //$(".InPatient").addClass("subdrop");
        //$(".Submenu_InPatient").css("display", "block");
        //$(".Submenu_InPatient").css("display", "block");
        //$(".HMSPatientAllotment").addClass("active");

        function GetDropdownData(Type) {
            debugger;
            $('.loadingimg').css('display', 'block');

            if (Type == "rooms") {
                if ($("#roomtype").val() == "") {

                    $("#roomno").empty();
                    $("#roomno").empty().append(new Option('Select Room', ''));

                    $("#roomno").val(null).trigger('change');

                    $('.loadingimg').css('display', 'none');
                    return false;
                }
            }
            if (Type == "beds") {
                if ($("#roomno").val() == "") {

                    $("#bedno").empty();
                    $("#bedno").empty().append(new Option('Select bed', ''));

                    $("#bedno").val(null).trigger('change');
                    $('.loadingimg').css('display', 'none');
                    return false;
                }
            }
            var url = "/HMSRooms/GetRooms?roomtype_id=" + $("#roomtype").val() + "&Type=" + Type + "&roomno=" + $("#roomno").val() + "&roomfacility=" + $("#roomfacility").val() + "";
            $.ajax({
                url: url,
                datatype: 'json',
                ContentType: 'application/json;utf-8'
            }).done(function (datahtml) {
                
                if (Type == "rooms") {
                    $(".bndrooms").empty();
                    $(".bndrooms").html($(datahtml).find(".bndrooms").html());
                }
                else if (Type == "beds") {
                    $(".bndbeds").empty();
                    $(".bndbeds").html($(datahtml).find(".bndbeds").html());
                }

                $('.loadingimg').css('display', 'none');
            });

            
        }

        //function Getchange() {
        //    debugger;
        //    $("#roomtype").val('');
        //    $("#roomno").find('option').remove();
        //    $("#roomno").html('<option>Select Room</option>');
        //    $("#bedno").find('option').remove();
        //    $("#bedno").html('<option>Select bed</option>');


        //}

         function Getchange() {
            debugger;
             $('.loadingimg').css('display', 'block');
            if ($("#roomfacility").val() != "Select Room Type") {
                var url = "/HMSRooms/GetwardType?roomfacility=" + $("#roomfacility").val() + "";
                $.ajax({
                    url: url,
                    datatype: 'json',
                    ContentType: 'application/json;utf-8'
                }).done(function (datahtml) {
                    $('.loadingimg').css('display', 'none');
                    $(".bndwards").empty();
                    $(".bndwards").html($(datahtml).find(".bndwards").html());
                    $("#roomno").find('option').remove();
                    $("#roomno").html('<option>Select Room</option>');
                    $("#bedno").find('option').remove();
                    $("#bedno").html('<option>Select bed</option>');
                    $('#loadingmessage').hide();
                });

            }
            else {
                $('.loadingimg').css('display', 'none');
                $("#roomtype").val('');
                $("#roomtype").find('option').remove();
                $("#roomtype").html('<option>Select Ward Type</option>');
                $("#roomno").find('option').remove();
                $("#roomno").html('<option>Select Room</option>');
                $("#bedno").find('option').remove();
                $("#bedno").html('<option>Select bed</option>');
                 $('#loadingmessage').hide();
            }


        }

        function SuccessMethod(data) {
            debugger;
            var htmlstr = "";
            if (data == "Record Update Sucessfully!!") {
                $('#cardbox').removeAttr('hidden');
                htmlstr = "<div class='alert alert-success alert-dismissible fade show' role='alert'> <strong> Success!</strong> Your <a href='#' class='alert-link'></a> <span id='statusmsg'>" + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
                var url = '@Url.Action("HMSPatientAllotment", "HMSRooms")';
                window.location.href = url;
            }
            else if (data == "Record Does Not Update Sucessfully!!") {
                $('#cardbox').removeAttr('hidden');
                htmlstr = "<div class='alert alert-danger alert-dismissible fade show' role='alert'> <strong>Error!</strong> problem <a href='#' class='alert-link'>Data</a>  has been occurred while submitting your data :<span id='statusmsg'>" + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
            }
            else {
                $('#cardbox').removeAttr('hidden');
                htmlstr = "<div class='alert alert-info alert-dismissible fade show' role='alert'> <strongPlease read the</strong> comments <a href='#' class='alert-link'>Data</a> <span id='statusmsg'>" + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
            }
            $("#cardbox").html(htmlstr);
        }



    </script>
}



