@model HospitalManagement.Models.AccountLedgerModel
@{
    ViewBag.Title = "LedgerAccountList";
}

<div class="content">
    <div class="row">
        <div class="col-sm-6 col-12">
            <h4 class="page-title"> Ledger Account List</h4>
        </div>
        <div class="col-sm-6 col-12 text-sm-right m-b-20">
            <a href="~/AccountHead/LedgerAccount" class="btn  skin-gradient-btn btn-sm"><i class="fa fa-plus-square"></i> Add Ledger Account</a>
        </div>
    </div>
    <div class="row bindtable">
        <div class="col-md-12">
            <div class="table-responsive table-scrolling p-t-30">
                @if (Model.LedgerAccountList != null && Model.LedgerAccountList.Count > 0)
                {
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th class="collapse">#</th>
                                <th>Account Name</th>
                                <th>Contact Person</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LedgerAccountList)
                            {
                                <tr id="row_@item.acc_id">
                                    <td class="collapse"> @item.acc_id</td>
                                    <td>@item.acc_name</td>
                                    <td>@item.contact_person</td>
                                    <td>@item.mobile</td>
                                    <td>@item.email</td>
                                    @if (item.ctrl == 1)
                                    {
                                        <td><span class="badge badge-success">Active</span></td>
                                    }
                                    @if (item.ctrl == 0)
                                    {
                                        <td><span class="badge badge-danger">Deactive</span></td>
                                    }
                                    <td>
                                        <a href="javascript:;" onclick="submit(@item.acc_id)" title="Edit" class="action-icon btn skyblue-gradient-btn"> <i class="fa fa-pencil"></i> </a>
                                        @*<a class="action-icon btn red-gradient-btn" href="#" title="Remove" onclick="ConfirmDelete(@item.acc_id)" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-remove"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        //$(".Account").addClass("subdrop");
        //$(".Submenu_Account").css("display", "block");
        //$(".Submenu_AccountData").css("display", "block");
        //$(".LedgerAccountList").addClass("active");
        function submit(Uniqrow) {
            debugger;
            $.post("/Dashboard/SetParaValue", { Para: Uniqrow }, function () { window.open('/AccountHead/EditLedgerAccount', '_self') });
        }
    </script>
}


