@model HospitalManagement.Models.InPatient
<div id="new_add_invs" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class=" modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:#fff;">Add New Investigation</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.Investigation != null && Model.Investigation.InvList != null)
                {

                    using (Ajax.BeginForm("Add_IP_Investigation", "InPatient", new AjaxOptions { HttpMethod = "POST", OnSuccess = "InvestigationSuccess", OnBegin = "InvestigationBegin", LoadingElementId = "progress" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Investigation.uniqrowid)
                        @*@Html.HiddenFor(model => model.Investigation.checkexisting)*@
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    @Html.ValidationMessageFor(model => model.Investigation.investigationmaster_id, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.Investigation.investigationmaster_id, new SelectList(Model.Investigation.InvList, "investigationmaster_id", "investigationmaster_name"), "Select Investigation", new { @class = "form-control select2 requiredSelect" })
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="focus-label">Instruction</label>
                                    @Html.TextBoxFor(model => model.Investigation.Instruction, new { @class = "form-control select requiredSelect" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn skin-gradient-btn" name="submit">Add</button>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success alert-dismissible fade show m-t-20" id="SuccessMsg" hidden role="alert">
                            <strong>Success!</strong> Your <a href="#" class="alert-link">Data</a> has been Add successfully.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show m-t-20" id="WarningMsg" hidden role="alert">
                            Please select at least one Investigation!.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
