@model HospitalManagement.Models.HMSEmployeeModel
@{
    ViewBag.Title = "AddHMSEmployee";
}
<div class="content">
    <div class="row align-items-center">
        <div class="col-sm-6 col-12">
            <h4 class="page-title"> Add Employee</h4>
        </div>
        <div class="col-sm-6 col-12 text-sm-right m-b-20">
            <a href="~/HMSEmployee/HMSEmployeeList" class="btn skin-gradient-btn btn-sm"><i class="fa fa-arrow-left"></i> Back to List </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @using (Ajax.BeginForm("AddEmployee", "HMSEmployee", new AjaxOptions { HttpMethod = "POST", OnBegin = "ajaxbegin", OnSuccess = "SuccessMethod", LoadingElementId = "progress" }, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row employee-form m-0">
                    <div class="col-md-12 ">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Department </label>
                                        @Html.ValidationMessageFor(model => model.HosDepartmentcode, "", new { @class = "text-danger" })
                                        @Html.DropDownListFor(model => model.HosDepartmentcode, new SelectList(Model.HosDepartmentLst, "Hos_department_code", "Hos_department_name"), "Select Department", new { @class = "form-control select requiredSelect", @id = "hosdepartment" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Role  @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" }) </label>
                                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Model.Rolelst, "usergroup_id", "groupname"), "Select Role", new { @class = "form-control select requiredSelect", onchange = "GetChangeRole(this)" })
                                    </div>
                                </div>
                            </div>
                            <div id="docBasicinfo" class="row align-items-center">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Doctor Code/BMDC No</label>
                                        @Html.TextBoxFor(model => model.DoctorCode, new { @class = "form-control requiredSelect" })
                                        <i class="fa fa-id-card"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="m-t-20 text-center">
                                                    <button class="btn btn-primary submit-btn-find" name="Submit" value="Search">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="active" class="FindDoctorDataBind findind-doctor-box">
                                            @Html.Partial("_FindDoctorDetails", Model)
                                        </div>
                                    </div>
                                    <div class="m-t-20 text-center">

                                    </div>
                                </div>
                            </div>
                            <div id="empBasicinfo" class="row align-items-center">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name <span class="text-danger">@Html.ValidationMessageFor(model => model.EmployeeFirstname, "", new { @class = "text-danger" })</span></label>
                                        @Html.TextBoxFor(model => model.EmployeeFirstname, new { @class = "form-control" })
                                        <i class="fa fa-user"></i>
                                        @Html.HiddenFor(model => model.EmployeeCode, new { @id = "empcod" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Last Name @Html.ValidationMessageFor(model => model.EmployeeLastname, "", new { @class = "text-danger" })</label>
                                        @Html.TextBoxFor(model => model.EmployeeLastname, new { @class = "form-control" })
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</span></label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Joining Date <span class="text-danger">@Html.ValidationMessageFor(model => model.JoinigDate, "", new { @class = "text-danger" })</span></label>
                                        @Html.TextBoxFor(model => model.JoinigDate, new { @class = "form-control datetimepicker" })
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control " })
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label></label>
                                        <div class="profile-upload">
                                            <div class="upload-img">
                                                <img id="blah" alt="your image" src="~/wwwroot/assets/img/user.jpg">
                                            </div>
                                            <div class="upload-input">
                                                @Html.TextBoxFor(model => model.Photo, new { @class = "form-control", name = "postedFile", @id = "imageUploadForm", onchange = "readURL(this);", @type = "file" })
                                                @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Designation <span class="text-danger">@Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })</span></label>
                                        @Html.TextAreaFor(model => model.Designation, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Employee Type  @Html.ValidationMessageFor(model => model.EmployeeType, "", new { @class = "text-danger" }) </label>
                                        @{
                                            List<SelectListItem> listEmployeeType = new List<SelectListItem>();
                                            listEmployeeType.Add(new SelectListItem
                                            {
                                                Text = "PayRoll",
                                                Value = "0"
                                            });
                                            listEmployeeType.Add(new SelectListItem
                                            {
                                                Text = "Freelancer",
                                                Value = "1",
                                                Selected = false
                                            });
                                        }
                                        @Html.DropDownList("EmployeeType", listEmployeeType, new { @class = "form-control select requiredSelect" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="display-block">Status</label>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="employee_active">
                                                @Html.RadioButtonFor(model => model.Ctrl, true, new { @id = "Active" })
                                                Active
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label" for="employee_inactive">
                                                @Html.RadioButtonFor(model => model.Ctrl, false, new { @id = "InActive" })
                                                Inactive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center">
                                        <button class="btn skin-gradient-btn submit-btn" name="Submit" value="Create Employee"><i class=" fa fa-plus"> </i> Add Employee</button>
                                        @*<a class="btn skin-border-btn submit-btn m-l-15 res-479-m-t-10" href="~/HMSEmployee/HMSEmployeeList">  <i class="fa fa-arrow-left"></i> Back To List</a>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="cardbox" class="mt-3">
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        //$(".HRM").addClass("subdrop");
        //$(".Submenu_HRM").css("display", "block");
        //$(".Submenu_HRM").css("display", "block");
        //$(".AddHMSEmployee").addClass("active");

        $(document).ready(function () {
            $("#hosdepartment").select2();
            $("#docBasicinfo").hide();
            $("#active").hide();
        });
        function ajaxbegin() {
            var file = $("#imageUploadForm").get(0).files;
            var data = new FormData;
            data.append("ImageFile", file[0]);
        }
        function SuccessMethod(data) {
            var htmlstr = "";
            if (data[0] == "Record Added Successfully!") {
                htmlstr = "<div class='alert alert-success alert-dismissible fade show' role='alert'> <strong>Success!</strong> Your " + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
                $("#cardbox").html(htmlstr);
                return false;
            }
            else if (data[0] == "Record Added Successfully! Username And Password Send To Email Address") {
                htmlstr = "<div class='alert alert-success alert-dismissible fade show' role='alert'> <strong>Success!</strong> Your " + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
                $("#cardbox").html(htmlstr);
                return false;
            }
            else if (data[0] == "Doctor record allrady exists in our hospital !!") {
                htmlstr = "<div class='alert alert-warning alert-dismissible fade show' role='alert'> <strong>Alert!</strong>  " + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
                $("#cardbox").html(htmlstr);
                return false;
            }
            else if (data[0] == "Please Enter Doctor Code or Doctor BMDC No.!!") {
                htmlstr = "<div class='alert alert-warning alert-dismissible fade show' role='alert'> <strong>Alert!</strong>  " + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
                $("#cardbox").html(htmlstr);
                return false;
            }
            else if ($(data).find("#CheckDoctor").val() == 1) {
                $(".FindDoctorDataBind").html(data);
                $("#DoctorCode").attr('readonly', true);
                $("#DoctorCode").addClass('pointer-events: none');
                $("#active").show();
                return false;
            }
            else if ($(data).find("#CheckDoctor").val() == 0) {
                $(".FindDoctorDataBind").html(data);
                $("#DoctorCode").attr('readonly', true);
                $("#DoctorCode").addClass('pointer-events: none');
                $("#active").show();
                return false;
            }
            else
                htmlstr = "<div class='alert alert-danger alert-dismissible fade show' role='alert'> <strong>Please read the</strong> Comments  <span id='statusmsg'>" + data + "</span> <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div > ";
            $("#cardbox").html(htmlstr);
        }

        function GetChangeRole(val) {
            var role = $(val).find("option:selected").text();
            if (role.toLowerCase() == 'doctor') {
                $("#empBasicinfo").hide();
                $("#docBasicinfo").show();
            }
            else {
                $("#empBasicinfo").show();
                $("#docBasicinfo").hide();
                $("#active").hide();
            }
        }
        function closepopup() {
            $("#active").hide();
            $("#DoctorCode").attr('readonly', false);
            $("#DoctorCode").removeClass('pointer-events: none');
        }
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(50)
                        .height(50);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
}

