@model HospitalManagement.Models.TestAndInvestigationModel

@using (Ajax.BeginForm("AddHOSInvestigation", "TestAndInvestigation", new AjaxOptions { HttpMethod = "POST", OnSuccess = "SuccessMethod", LoadingElementId = "progress" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div id="BindInvestigationpara">
        <div id="delete_employee" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header skin-bg-gradient">
                        <h4 class="modal-title" style="color:#fff;" id="myModalLabel">Add Investigation Para</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12" id="Bind_para_body">
                                <div class="table-responsive">
                                    <div class="form-group">
                                        <span style="font-size:13px;">@Model.investigationname</span>
                                    </div>

                                    @if (Model.reagent_list != null)
                                    {
                                        <div class="form-group">
                                            <label>Select Reagent </label>
                                            @Html.ValidationMessageFor(model => model.reagent_id, "", new { @class = "text-danger" })
                                            @Html.DropDownListFor(model => model.reagent_id, new SelectList(Model.reagent_list, "reagent_id", "reagent_name"), "-- Select Reagent --",
                                                new { @class = "form-control select requiredSelect", @onchange = "OnchangeReagent('" + Model.parameter.Appointmentcode + "'," + Model.parameter.Investigationid + ",'" + Model.parameter.InvType + "'," + Model.parameter.service_id + ",'" + Model.parameter.unique_invstigation_id + "' )" })
                                        </div>
                                    }
                                    <table class="table table-bordered table-striped custom-table" id="example">
                                        <thead class="thead-light">
                                            <tr>
                                                <th class="text-left">Investigation Para Name</th>
                                                <th class="text-left">Investigation Value</th>
                                                <th class="text-left">Reference</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.invSubgroupList != null)
                                            {
                                                @Html.HiddenFor(Model => Model.appointment_code)
                                                @Html.HiddenFor(Model => Model.service_id)
                                                if (Model.invSubgroupList != null && Model.invSubgroupList.Count > 0 && Model.invSubgroupList[0].invParaList != null && Model.invSubgroupList[0].invParaList.Count > 0)
                                                {
                                                    @Html.HiddenFor(Model => Model.invSubgroupList[0].invParaList[0].investigation_uniqcode, new { @id= "invSubgroupList_data_investigation_uniqcode" })
                                                }
                                                for (int i = 0; i < Model.invSubgroupList.Count; i++)
                                                {
                                                    @Html.HiddenFor(m => Model.invSubgroupList[i].InvestigationSubGroupId)
                                                    if (Model.invSubgroupList[i].SubgroupName != "")
                                                    {
                                                        if (Model.invSubgroupList[i].Reference == null || Model.invSubgroupList[i].Reference == "")
                                                        {
                                                            <tr>
                                                                <th colspan="999" style="text-align:left;font-weight:600;border:unset;">@Model.invSubgroupList[i].SubgroupName</th>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            @Html.HiddenFor(Model => Model.invSubgroupList[i].para_type)
                                                            @Html.HiddenFor(Model => Model.invSubgroupList[i].investigationmaster_id)
                                                            @Html.HiddenFor(Model => Model.invSubgroupList[i].investigation_uniqcode)
                                                            <tr class="table-light">
                                                                <th>@Model.invSubgroupList[i].SubgroupName</th>
                                                                <th>@Html.TextBoxFor(Model => Model.invSubgroupList[i].FindReference, new { @class = "form-control" })</th>
                                                                <th>
                                                                    @foreach (var item in Model.invSubgroupList[i].Reference.Split('$'))
                                                                    {
                                                                        <ul style="list-style-type: none;padding-left:0;margin:0;">
                                                                            <li>@item</li>
                                                                        </ul>
                                                                    }
                                                                </th>
                                                            </tr>
                                                        }
                                                    }
                                                    for (int j = 0; j < Model.invSubgroupList[i].invParaList.Count; j++)
                                                    {
                                                        <tr class="table-light">
                                                            <td>@Html.DisplayFor(Model => Model.invSubgroupList[i].invParaList[j].investigationpara_name, new { @class = "form-control" })</td>
                                                            <td>@Html.TextBoxFor(Model => Model.invSubgroupList[i].invParaList[j].find_ip_reference, new { @class = "form-control" })</td>
                                                            <td>
                                                                @foreach (var item in Model.invSubgroupList[i].invParaList[j].investigationpara_reference.Split('$'))
                                                                {
                                                                    <ul style="list-style-type: none;padding-left:0;margin:0;">
                                                                        <li>@item</li>
                                                                    </ul>
                                                                }
                                                                @*@Html.DisplayFor(Model => Model.invSubgroupList[i].invParaList[j].investigationpara_reference, new { @class = "form-control" })*@
                                                                @Html.HiddenFor(Model => Model.invSubgroupList[i].invParaList[j].investigationmaster_id)
                                                                @Html.HiddenFor(Model => Model.invSubgroupList[i].invParaList[j].investigationsubgrop_id)
                                                                @Html.HiddenFor(Model => Model.invSubgroupList[i].invParaList[j].investigationpara_id)
                                                                @Html.HiddenFor(Model => Model.invSubgroupList[i].invParaList[j].investigation_uniqcode)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="bind_technician_doctor">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Doctor Name</label>
                                    @Html.ValidationMessageFor(model => model.Doctorcode, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.Doctorcode, new SelectList(Model.DoctorContractlist, "doctor_code", "doctor_name"), "Select Doctor", new { @class = "form-control select requiredSelect", @id = "Doctor" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Medical Technologist </label>
                                    @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                                    @Html.DropDownListFor(model => model.EmployeeCode, new SelectList(Model.Technicianlist, "EmployeeCode", "EmployeeName"), "Select Technician", new { @class = "form-control select requiredSelect" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <button class="btn green-gradient-btn" type="submit" name="submit">Add Test</button>
                                    <a href="#" class="btn red-gradient-btn m-l-15 res-479-m-t-10" data-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                        <div id="cardbox1" class="mt-3" hidden>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
