@model HospitalManagement.Models.StockReportModel
@{
    ViewBag.Title = "StoreRequestList";
}
<div class="content">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="rh-card">
                <div class="rh-card-header d-flex justify-content-between">
                    <h5>Stock Report</h5>
                </div>
                <div class="row filter-row">
                    @if (Model.SupplierList != null)
                    {
                        <div class="col-sm-3 col-md-3">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Supplier Wise</label>
                                @Html.DropDownListFor(model => model.SupplierId, new SelectList(Model.SupplierList, "Id", "name"), "-- Choose --", new { @class = "form-control select floating" })
                            </div>
                        </div>
                    }
                    @if (Model.CategoryList != null)
                    {
                        <div class="col-sm-3 col-md-3">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Category Wise</label>
                                @Html.DropDownListFor(model => model.Categoryid, new SelectList(Model.CategoryList, "id", "category_name"), "-- Choose --", new { @class = "form-control select floating" })
                            </div>
                        </div>
                    }
                    @if (Model.ReportLists != null)
                    {
                        <div class="col-sm-3 col-md-3">
                            <div class="form-group form-focus select-focus">
                                <label class="focus-label">Select Report</label>
                                @Html.DropDownListFor(model => model.ReportName, new SelectList(Model.ReportLists, "Value", "Text"), "-- Choose --", new { @class = "form-control" })
                            </div>
                        </div>
                    }
                    <div class="col-sm-6 col-md-2">
                        <button class="btn skin-gradient-btn btn-block submit-btn" onclick="SearchReport()">Search</button>
                    </div>
                </div>
                <div class="row mb-5 PtintButton" hidden>
                    <div class="col-12 text-center">
                        <div class="btn-group btn-group-sm mb-3 float-right ">
                            <button class="btn btn-white" onclick="PrintReport()"><i class="fa fa-print fa-lg"></i> Print</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="Printreport">
                    <div class="col-md-12 printData mt-5" hidden>
                        <div class="row">
                            <div class="col-md-4 mb-5">
                                <span style="font-weight:600"> Report : </span> <span id="Print_data_report"> </span>
                            </div>
                            <div class="col-md-4 mb-5">
                                <span style="font-weight:600"> Suppllier Wise : </span> <span id="Print_data_supplier"> </span>
                            </div>
                            <div class="col-md-4 mb-5">
                                <span style="font-weight:600"> Category Wise : </span> <span id="Print_data_category"> </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive table-scrolling p-t-30">
                            <table id="bind_table_data" class="table table-border table-striped custom-table  mb-0">
                                <thead>
                                    @if (Model.ReportName == "available_qty_report")
                                    {
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Category</th>
                                            <th>ItemName</th>
                                            <th class="text-center">Batch No</th>
                                            <th class="text-center">Available Qty</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    }
                                    else if (Model.ReportName == "item_expire_report")
                                    {
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Category</th>
                                            <th>ItemName</th>
                                            <th class="text-center">Batch No</th>
                                            <th class="text-center">Available Qty</th>
                                            <th class="text-center">Allocated Qty</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    }
                                    else if (Model.ReportName == "purchase_report")
                                    {
                                        <tr>
                                            <th>PurchaseCode</th>
                                            <th>Supplier</th>
                                            <th>Category</th>
                                            <th>ItemName</th>
                                            <th class="text-center">Batch No</th>
                                            <th class="text-center">Purchase Qty</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    }
                                    else if (Model.ReportName == "stock_allocation_report")
                                    {
                                        <tr>
                                            <th>Supplier</th>
                                            <th>Category</th>
                                            <th>ItemName</th>
                                            <th class="text-center">Batch No</th>
                                            <th class="text-center">Allocated Qty</th>
                                            <th>Expire Date</th>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ReportData)
                                    {
                                        if (Model.ReportName == "available_qty_report")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.category_name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.item_name)</td>
                                                <td class="text-center">@Html.DisplayFor(modelItem => item.BatchNo)</td>
                                                <td class="text-center"><b class="text-dark">@Html.DisplayFor(modelItem => item.AvailableQty)</b></td>
                                                <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                            </tr>
                                        }
                                        else if (Model.ReportName == "item_expire_report")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.category_name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.item_name)</td>
                                                <td class="text-center">@Html.DisplayFor(modelItem => item.BatchNo)</td>
                                                <td class="text-center"><b class="text-dark">@Html.DisplayFor(modelItem => item.AvailableQty)</b></td>
                                                <td class="text-center"><b class="text-dark">@Html.DisplayFor(modelItem => item.AllocatedQty)</b></td>
                                                <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                            </tr>
                                        }
                                        else if (Model.ReportName == "purchase_report")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.purchase_code)</td>
                                                <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.category_name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.item_name)</td>
                                                <td class="text-center">@Html.DisplayFor(modelItem => item.BatchNo)</td>
                                                <td class="text-center"><b class="text-dark">@Html.DisplayFor(modelItem => item.PurchaseQty)</b></td>
                                                <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                            </tr>
                                        }
                                        else if (Model.ReportName == "stock_allocation_report")
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.SupplierName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.category_name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.item_name)</td>
                                                <td class="text-center">@Html.DisplayFor(modelItem => item.BatchNo)</td>
                                                <td class="text-center"><b class="text-dark">@Html.DisplayFor(modelItem => item.AllocatedQty)</b></td>
                                                <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function SearchReport() {
            var Sup_Id = $("#SupplierId").val() == "" ? 0 : parseInt($("#SupplierId").val());
            var Cat_Id = $("#Categoryid").val() == "" ? 0 : parseInt($("#Categoryid").val());
            var ReportName = $("#ReportName").val();
            if (ReportName == "")
                $("#ReportName").focus();
            else {
                $("#progress").show();
                $.ajax({
                    type: "POST",
                    url: "/Stock/SearchReportData",
                    data: { Sup_Id: Sup_Id, Cat_Id: Cat_Id, ReportName: ReportName },
                    success: function (result) {
                        //if ($.fn.DataTable.isDataTable('#bind_table_data')) {
                        //    $('#bind_table_data').DataTable().destroy();
                        //}
                        $("#bind_table_data").empty();
                        $("#bind_table_data").html($(result).find("#bind_table_data").html());
                        $("#progress").hide();
                        //$("#bind_table_data").dataTable({ responsive: true });
                        $(".PtintButton").removeAttr("hidden", true);
                    },
                    error: function (textStatus, errorThrown) {
                        $("#progress").hide();
                        alert(textStatus);
                    }
                })
            }
        }
        function PrintReport() {
            debugger;
            $(".printData").removeAttr("hidden", true);
            //Set print heading value
            $("#Print_data_report").text($("#ReportName option:selected").text());
            $("#Print_data_supplier").text($("#SupplierId option:selected").val() == "" ? "All" : $("#SupplierId option:selected").text());
            $("#Print_data_category").text($("#Categoryid option:selected").val() == "" ? "All" : $("#Categoryid option:selected").text());
            //End Header
            var contents = document.getElementById("Printreport").innerHTML;
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "width": "100%" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html>');
            frameDoc.document.write('<body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="/wwwroot/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />')
            frameDoc.document.write('<link href="/wwwroot/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />')
            frameDoc.document.write('<link href="/wwwroot/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />')
            frameDoc.document.write('<link href="/wwwroot/assets/css/style.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
            $(".printData").attr("hidden", true);
        }
    </script>
}